
<div class="container mt-4" style="width: 400px">
  <h1>Add a Booking to the <%= @spaceship.name %> Spaceship</h1>
                    <%# PARENT, CHILD %>
  <div class="form-inputs">
    <%= simple_form_for [@spaceship, @booking], data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
      <div class="d-flex justify-content-between align-items-center mt-4">
        <div>
          <%= link_to "Cancel", spaceship_path(@spaceship), class: "btn btn-danger"%>
        </div>
        <%#= f.button :submit, class: 'btn btn-gradient' %>
        <div>
          <%= render "shared/rocket_button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
