<div class="container mb-2 mt-5">
  <div class="col-md-12">
    <h1>My Spaceships</h1>
        <% if @spaceships.empty? %>
          <p class="fs-5 mt-5 mb-2"><i>You do not have any spaceships yet! </i><i class="fa-brands fa-rocketchat"></i></p>

          <br>

          <%= link_to "Rent out your first spaceship!", new_spaceship_path, class: "btn btn-success mb-5" %>
        <% else %>
          <% @spaceships.each do |spaceship| %>
            <div class="card-show mb-5 mt-5">
              <% if spaceship.photos.attached? %>
                <%= cl_image_tag(spaceship.photos[0].key) %>
              <% else %>
                <img src="https://source.unsplash.com/random/?rocket">
              <% end %>

              <div class="card-show-infos" style= "height: 130px">
                <div>
                  <h2><%= spaceship.name %></h2>
                  <p>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= spaceship.location %>
                  </p>
                  <h3>
                    <i class="fa-solid fa-dollar-sign"></i>
                    <%= spaceship.price %>
                    <span style="color: grey">per day</span>
                  </h3>
                </div>
                <p class="card-show-category"><%= spaceship.category %></p>
                <div class="container d-flex justify-content-between">
                  <%= link_to 'Update', edit_spaceship_path(spaceship), class: "btn btn-success" %>
                  <%= link_to 'Delete', spaceship_path(spaceship),
                                      data: { turbo_method: 'DELETE',
                                      turbo_confirm: 'Are you sure?' },
                                      class: "btn btn-danger" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
  </div>
</div>
