<div id="<%= dom_id spaceship%>">
<h2><%= spaceship.name %></h2>
  <p><strong>Category:</strong> <%= spaceship.category %></p>
  <p><strong>Location:</strong> <%= spaceship.location %></p>
  <p><strong>Price:</strong> <%= spaceship.price %></p>
</div>
