<div id="<%= dom_id spaceship%>">
<h2><%= spaceship.name %></h2>
  <h3><strong>$</strong> <%= spaceship.price.to_i %> /DAY</h3>
  <p><strong>Location:</strong> <%= spaceship.location %></p>
  <p class="card-spaceship-category"><%= spaceship.category %></p>
</div>
